/*global start*/
@import 'mixins';
@import 'variables';
@import 'typography';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: "Titillium Web", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/*global end*/

/*Search Bar*/
.search-box {
    width: 210px;
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.search-input {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 10px 40px 10px 11px;
    background-color: #1e1e1b;
    color: $clr-white;
    border-radius: 6px;
    border: none;
    transition: all 0.4s;
}

.search-input:focus {
    border: none;
    outline: none;
    box-shadow: 0 1px 12px #b8c6db;
    -moz-box-shadow: 0 1px 12px #b8c6db;
    -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
    background-color: transparent;
    font-size: 18px;
    padding: 6px 9px;
    margin-left: -45px;
    border: none;
    color: #6c6c6c;
    transition: all .4s;
    z-index: 10;
}

.search-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: black;
}

.search-btn:focus {
    outline: none;
    color: $clr-black;
}

/*Search Bar*/

button.btn.dropdown-toggle {
    color: $clr-white;
    font-size: 16px;
    font-weight: 600;
}

button.btn.dropdown-toggle.show {
    border: 0;
    color: $clr-white !important;
}

.dropdown-menu.show {
    background: $clr-darkblue;
}

.dropdown-menu .site-nav a:hover {
    color: $clr-pink;
    border-bottom: 4px solid $clr-pink;
    background: none;
}

.dropdown .site-nav a:hover {
    color: $clr-white;
    border-bottom: 4px solid $clr-pink;
    background-color: transparent !important;
}

.dropdown-item:hover {
    background-color: transparent !important;
}

button.btn.dropdown-toggle:active {
    border: 0 !important;
    color: $clr-white !important;
}
.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 600;
    font-size: inherit !important;
    position: relative;
    display: inline-flex;
    align-items: start;
}


ul.subnav {
    display: block !important; 
    position: absolute;
    top: 100%;
    width: 135px;
    background: $clr-darkblue;
    color: $clr-pink;
    padding: 4px 0;
    opacity: 1;
    visibility: hidden;
    transition: all 0.2s linear;
    transform: translateY(0px);
    z-index: 1;
}
ul.subnav:hover {
    visibility: visible  !important;
}

.dropbtn i {
    margin-left: -2px;
    color: $clr-white;
    line-height: 33px;
}
nav.site-nav li:nth-child(2):hover ul.subnav {
    visibility: visible !important;
    }
header.site-header {
    background: #0000004f;
    font-size: 18px;
    padding: 14px 0;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    transition: .3s;
}

header.site-header.sticky {
    background: #0000004f;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px 0;
    position: fixed;
}

.site-header .site-nav ul li a.active {
    color: $clr-pink;
}

.site-logo img {
    width: 100%;
    max-width: 250px;
}

.site-nav a {
    padding: 8px 12px !important;
    display: inline-block;
    font-weight: 600;
    color: $clr-white;
    font-size: 16px;

    &:hover {
        color: $clr-pink;
        border-bottom: 2px solid $clr-pink;
    }
}

button.search-btn i.fas.fa-search {
    color: $clr-pink;
}

.site-header {
    padding: 10px 0;
}

.site-header .container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.headerflex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 35px;
}

nav.site-nav {
    max-width: 100%;
    margin: 0 auto;
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.closed-menu {
    display: none;
}

.menu-toggle {
    display: none !important;
}

.search-input:focus-visible {
    outline: 0;
    box-shadow: none;
}

/*header end*/



/*footer-css-start*/

.footer {
    background: url(../images/footerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    padding: 100px 0;

    &::after {
        position: absolute;
        inset: 0;
        background: rgb(0 0 0 / 74%);
        content: '';
        z-index: -1;
    }

    &-logo {
        img {
            max-width: 250px;
        }
    }

    &-links {

        h3 {
            color: $clr-pink;
        }

        li {
            margin: 8px 0;
        }

        a {
            color: $clr-white;

            &:hover {
                color: $clr-pink;
            }
        }
    }

    &-adresse {
        h2 {
            color: $clr-darkblue;
        }

        h3 {
            color: $clr-pink;
        }

        p {
            color: $clr-darkblue;
        }
    }

    &-mails {

        a,
        i {
            color: $clr-white;
        }

    }
}

.social-signals {
    padding: 25px 0;

    i {
        color: $clr-white;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        margin: 0 10px;
        border: 1px solid $clr-white;
        border-radius: 30px;
        height: 40px;
        width: 40px;
        transition: .3s linear;

        &:hover {
            transform: translateY(-10px);
            color: $clr-pink;
        }
    }
}

/*footer-css-end*/

/*privacy-policy start*/
.privacy__section.banner {
    background-image: url(../images/privacybanner.jpg);
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 450px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.59);
        z-index: -1;
        height: 450px;
    }
}

.privacy-policy {
    padding: 40px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content-wrap {
        li {
            font-size: 16px;
            margin: 8px 0;
        }

        h3 {
            color: $clr-pink;
        }

        p {
            color: $clr-black;
            font-size: 16px;
            line-height: 25px;
        }
    }
}

/*privacy-policy-end*/

/*contact-banner-start*/
.contactus.banner {
    background-image: url(../images/contactus-banner.jpg);
    position: relative;
}

.contact-box .about_us_content h2::after {
    content: none;
}

.contact-box .about_us_content {
    margin: 0 0 30px 0;
}

.contact-box .about_us_content h2 {
    margin: 30px 0 !important;
}

.contact-box .form-group {
    margin-bottom: 2rem;
}

.contact-box .input-control {
    display: block;
    width: 100%;
    height: 4rem;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 2rem 2rem;
    background: transparent;
    color: #0C0B0B;
}

.contact-box .input-control:focus-visible {
    outline: none;
}

.contact-box textarea.input-control {
    resize: none;
    height: auto;
}

.contact-box .form-group .submit-btn {
    background: $clr-pink;
    border: 1px solid $clr-pink;
    transition: all 0.2s linear;
    display: inline-block;
    padding: 14px 107px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 10px;
}

.contact-box .form-group .submit-btn:hover {
    background-color: transparent;
    color: #0C0B0B;
}

.contact-box .form-group label {
    display: inline-block;
    padding-bottom: 5px;
    color: $clr-pink;
    transition: all 0.2s linear;
    text-transform: capitalize;
    font-size: 18px;
}

.contact-text {
    h3 {
        color: $clr-darkblue;
    }

    p span {
        color: $clr-pink;
        font-weight: 600;
    }
}

/*contact-banner-end*/

/*terms-start*/
.terms__section.banner {
    background-image: url(../images/termsbanner.jpg);
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 450px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        z-index: -1;
        height: 450px;
    }
}

.terms {
    padding: 40px 0;

    .content-wrap {
        li {
            font-size: 16px;
            margin: 8px 0;
        }

        p {
            color: $clr-black;
            font-size: 16px;
            line-height: 25px;
        }

        h3 {
            color: $clr-pink;
        }
    }
}

/*terms- end*/

/*cookie start*/
.cookie-alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    left: 0;
}

.cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

a.btn.btn-primary.accept-cookies {
    background: $clr-pink;
    padding: 6px 22px;
    font-size: 20px;
    color: $clr-black;
    border: 1px solid $clr-pink;
}

.card-body h3 {
    color: $clr-pink;
}

/*cookie end*/

/*home-css-start*/
.homebanner.banner {
    background-image: url(../images/homebanner.jpg);
    height: 700px;
    position: relative;
    background-position: bottom;

    &::after {
        height: 700px;
    }
}

.topcontent-picture {
    max-width: 550px;
    margin-left: auto;

    img {
        border-radius: 10px;
    }
}

.topcontent {
    padding: 50px 0;

    &-para {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        p span {
            color: $clr-darkblue;
            font-weight: bold;
        }
    }
}

.homecard h4.text-h4 {
    font-size: 30px;
    top: 70%;
}

h2.title {
    color: $clr-pink;
}

.homemain-part.homecard {
    padding: 50px 0;
}

.homecard .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    place-items: center;
}

.homecard .card {
    position: relative;
    width: 100%;
    height: 350px;
}

.homecard .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
}

.homecard .card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px $clr-white;
}

.homecard .card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homecard .text-h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 52px;
    font-weight: 600;
    line-height: 45px;
    color: $clr-white;
    background: $clr-pink;
    text-align: center;
}

.homecard .card .back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: perspective(600px) rotateY(180deg);
    background: $clr-white;
    padding: 15px;
    color: $clr-grey;
    text-align: center;
    box-shadow: 0 5px 10px $clr-white;
}


.homecard .links {
    border-top: 1px solid $clr-pink;
    height: 50px;
    line-height: 50px;
}

.homemain-part.homecard h2 {
    margin: 25px 0px;
}

.homecard .link-a {
    color: $clr-pink;
}

.mails-names a {
    word-break: break-all;
}

/*home-css-end*/

/*Premier-css-start*/
.premierbanner.banner {
    background-image: url(../images/premier-banner.jpg);
}

.premier-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.premier-content {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    img {
        border-radius: 10px;
        margin-bottom: 20px;
        height: 371px;
        object-fit: cover;
    }

    h3 {
        font-size: 20px;
        font-weight: 600;
        word-break: break-all;
        line-height: 27px;
    }

    h4 {
        margin: 6px 0;
        font-size: 20px;
    }
}

.premier-top {
    padding-bottom: 80px;
}

/*Premier-css-end*/


/*irelandbanner-css-start*/
.irelandbanner.banner {
    background-image: url(../images/Ireland-banner.jpg);
    background-position: top;
}

/*irelandbanner-css-end*/

/*fitnessbanner-css-start*/
.fitnessbanner.banner {
    background-image: url(../images/fitnessbanner.jpg);
}

/*fitnessbanner-css-end*/

/*footballboots-banner-css-start*/
.footballboots-banner.banner {
    background-image: url(../images/Footballboots-banner.jpg);
}

/*footballboots-banner-css-end*/

/*accessories-banner-css-start*/
.accessoriesbanner.banner {
    background-image: url(../images/Accessories-banner.jpg);
}

/*accessories-banner-css-end*/


/*clearance-banner-css-start*/
.clearancebanner.banner {
    background-image: url(../images/Clearancebanner.jpg);
}

/*clearance-banner-css-end*/

/*# sourceMappingURL=style.css.map */